<!--<?php print <<<EOT
-->
</div>
<script language="JavaScript" src="$imgpath/global.js"></script><br />
<!--
EOT;
if(!$db_union[6] && @in_array('1',$db_yh) && SCR!='post'){print <<<EOT
-->
<!--
EOT;
}print <<<EOT
-->
<center class="gray">
<a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">电脑版</font></font></a>
<a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">手机版</font></font></a>
<a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">客户端</font></font></a>
<br />
$footer_ad<small>$wind_spend $ft_time</small>
<br />
</center><br />
<script type="text/javascript" language="JavaScript" src="js/jquery.3.2.1.min.js"></script>
</body></html>
<!--
EOT;
?>-->
