<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$expires
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$db_charset">
<title>$subject $db_bbsname | $db_bbstitle</title>
<meta name="keywords" content="$db_metakeyword" />
<meta name="description" content="$db_metadescrip" />
<link rel="stylesheet" href="/css/style.css?v=2.03972" type="text/css" charset="UTF-8">
</head><body>
$msgsound
<div id="header">
<div class="banner" style="padding-left:5px;"><a href="../../../"><font size="7" color="white"><b>$db_bbsname</b></font></a></div>
<div class="h guide" colspan="2">&raquo;
<!--
EOT;
if($groupid=='guest'){print <<<EOT
-->
	您尚未　<a href="$loginurl">登录</a> &nbsp;<a href="$regurl"><b>注册</b></a>
<!--
EOT;
}else{print <<<EOT
-->
	<span style="font-weight:bold">$windid</span>&nbsp;<a href="$loginouturl">退出</a> |
<!--
EOT;
if($db_menu==1 || $db_menu==3){print <<<EOT
-->
	<a style="cursor:pointer;" id="td_profile" onclick="click_open('menu_profile','td_profile');" onMouseOver="mouseover_open('menu_profile','td_profile');">控制面板</a>
<!--
EOT;
}else{ print <<<EOT
-->
	<a href="profile.php">控制面板</a>
<!--
EOT;
}if($db_menu==1 || $db_menu==3){ print <<<EOT
-->
	| <a style="cursor:pointer;" id="td_msg" onClick="click_open('menu_msg','td_msg');" onMouseOver="mouseover_open('menu_msg','td_msg');" target="_blank">
<!--
EOT;
}else{ print <<<EOT
-->
	| <a href="message.php">
<!--
EOT;
}if($winddb[newpm]>0){print <<<EOT
-->
	<font class="s3">您有新消息</font></a>
<!--
EOT;
}else{print <<<EOT
-->
	短消息</a>
<!--
EOT;
}if($gp_allowsort){
if($db_menu==1 || $db_menu==3){
print <<<EOT
-->
	| <a style="cursor:pointer;" id="td_sort" onClick="click_open('menu_sort','td_sort');" onMouseOver="mouseover_open('menu_sort','td_sort');" target="_blank">统计与排行</a>
<!--
EOT;
}else{print <<<EOT
-->
	| <a href="sort.php">统计与排行</a>
<!--
EOT;
}}if($gp_allowmember){print <<<EOT
-->
	| <a href="member.php">会员</a>
<!--
EOT;
}if($groupid=='5' || strpos($winddb['groups'],',5,')!==false){ print <<<EOT
-->
	| <a href="forumcp.php">版主管理</a>
<!--
EOT;
}if($_G['show']){print <<<EOT
-->
	| <a href="show.php">展区</a>
<!--
EOT;
}}print <<<EOT
-->
	| <a href="search.php">搜索</a> | <a style="cursor:pointer;" id="td_hack" onClick="click_open('menu_hack','td_hack');" onMouseOver="mouseover_open('menu_hack','td_hack');">社区服务</a>
<!--
EOT;
foreach($db_hackdb as $key=>$hack){
if($hack[2]=='2' && file_exists(R_P."hack/$key/index.php")){print <<<EOT
-->
	| <a href="hack.php?H_name=$hack[1]">$hack[0]</a>
<!--
EOT;
}}print <<<EOT
-->
	| <a href="faq.php">帮助</a>
<!--
EOT;
if($windid==$manager ||$SYSTEM['allowadmincp']){print <<<EOT
-->
	| <a href="admin.php" target="_blank">系统设置</a>
<!--
EOT;
}print <<<EOT
-->
</div>
<div id="showmenu" style="z-index:100;display:none;"></div>
<div id="menu_hack" class="menu" style="display:none;"><table width="140" cellspacing="1" cellpadding="5">
	<tr><th class="h">社区服务</th></tr>
<!--
EOT;
foreach($db_hackdb as $key=>$hack){
if($hack[2]=='1' && file_exists(R_P."hack/$key/index.php")){print <<<EOT
-->
	<tr><td class="f_one"><a href="hack.php?H_name=$hack[1]">$hack[0]</a></td></tr>
<!--
EOT;
}}print <<<EOT
-->
</table></div>
<!--
EOT;
if($db_menu==1 || $db_menu==3){ print <<<EOT
-->
<div id="menu_msg" class="menu" style="display:none;"><table width="140" cellspacing="1" cellpadding="5">
	<tr><th class="h">短消息</th></tr>
	<tr><td class="f_one"><a href="message.php">收件箱</a></td></tr>
	<tr><td class="f_one"><a href="message.php?action=sendbox">发件箱</a></td></tr>
	<tr><td class="f_one"><a href="message.php?action=scout">消息跟踪</a></td></tr>
	<tr><td class="f_one"><a href="message.php?action=write">写新消息</a></td></tr>
</table></div>
<div id="menu_profile" class="menu" style="display:none;"><table width="140" cellspacing="1" cellpadding="5">
	<tr><th class="h">控制面板</th></tr>
	<tr><td class="f_one"><a href="profile.php">控制面板首页</a></td></tr>
	<tr><td class="f_one"><a href="profile.php?action=modify">编辑个人资料</a></td></tr>
	<tr><td class="f_one"><a href="profile.php?action=show&uid=$winduid">查看个人资料</a></td></tr>
	<tr><td class="f_one"><a href="profile.php?action=friend">好友列表</a></td></tr>
	<tr><td class="f_one"><a href="profile.php?action=permission">用户权限查看</a></td></tr>
<!--
EOT;
if($_G['atclog']){print <<<EOT
-->
	<tr><td class="f_one"><a href="profile.php?action=log">帖子操作记录</a></td></tr>
<!--
EOT;
}print <<<EOT
-->
	<tr><td class="f_one"><a href="userpay.php">{$db_currencyname}管理</a></td></tr>
	<tr><td class="f_one"><a href="profile.php?action=buy">特殊组购买</a></td></tr>
	<tr><td class="f_one"><a href="profile.php?action=favor">收藏夹</a></td></tr>
	<tr><td class="f_one"><a href="personal.php">我的主题</a></td></tr>
</table></div>
<div id="menu_sort" class="menu" style="display:none;">
	<table width="130" cellspacing="1" cellpadding="5">
	<tr><th class="h">统计与排行</th></tr>
	<tr><td class="f_one"><a href="sort.php">基本统计信息</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=ipstate">到访IP统计</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=team">管理团队</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=admin">管理统计</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=online">在线统计</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=member">会员排行</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=forum">版块排行</a></td></tr>
	<tr><td class="f_one"><a href="sort.php?action=article">帖子排行</a></td></tr>
</table></div>
<!--
EOT;
} print <<<EOT
-->
<div id="blank" style="height:10px; clear:both"></div>
</div>
<!--
EOT;
if(!$db_union[6] && @in_array('2',$db_yh) && SCR!='post'){print <<<EOT
-->
<div class="tac"><script type="text/javascript" src="http://ce.phpwind.com/src/yh.php?v=$wind_version&siteid={$GLOBALS[db_sitehash]}&type=2"></script></div>
<!--
EOT;
}print <<<EOT
-->
<div id="main">
<!--
EOT;
?>-->
